/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*border: 1px solid #000;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	           content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: #000;
	margin: 0;
	padding: 0;
}
/*-----------------------------------------------------------------------------*/
body{
		background-image: url('../images/bg_1.jpg');
		background-size: cover; overflow: hidden;
}

#center {
	position:absolute; top:50%; left: 50%;width:700px; height:400px;
	overflow:hidden; margin-top:-230px; margin-left:-1350px;padding:20px 1000px;
	/*background-color: #fff;*/
}

div{width: 800px; margin: 0 auto;}
#center > div a {
	background-size: cover;
	width: 150px;height: 150px; float: left;margin: 135px 0px;
	 border-radius: 100%;color: #fff;
}
#center > div a:nth-of-type(2){
	width: 350px;height: 350px;margin:25px 50px;
	/*background-image: url(../images/2.png);*/
}
#center > div a:first-child:hover{text-indent: -99999px;	background-image: url('../images/1.png');}
#center > div a:nth-of-type(2):hover{ background-color: #000;}
#center > div a:last-of-type:hover{text-indent: -99999px;background-image: url('../images/3.png');}



#center > div a dl{width: 80px; margin: 0 auto;text-align: center;}
#center > div a:nth-of-type(2) dl{width: 230px;}
#center > div a dl dt{margin: 40px 0  20px;font-size: 25px;font-weight: bold;}
#center > div a dl dd{margin-bottom: 10px;color: #ccc;}
#center > div a dl dd span{color:#888; }




footer{clear: both;width: 100%;position: fixed; bottom: 0px;}
footer ul{font-size: 12px;color: #bbb;}
footer ul li{margin: 10px 0;float:left;}
footer ul li:first-of-type{width: 32%; text-align:left;margin-left: 2%;}
footer ul li:nth-last-of-type(2){width: 32%; text-align: center;}
footer ul li:last-of-type{width: 32%;text-align: right;margin-right: 2%;}
